<%- include("partials/header") -%>

<h2>Welcome to my blog!</h2>

<p><%= startingContent %></p>

<% posts.slice().reverse().forEach(function(post) { %>
<hr />
<h2><a class = "postTitles" href="post/<%=post._id%>"><%=post.title%></a></h2>
<%console.log(post.content); %>
<p><%=post.content.substring(0, 450)%>... <a href="post/<%=post._id%>">See post</a></p>
<% }); %>

<%- include("partials/footer") -%>
